.tabs__globalContainer {
  display: flex;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}

.tabs__itemContainer {
  padding: 20px 20px 30px;
  font-size: 22px;
  font-weight: 900;
  cursor: pointer;
  color: #15253C;
  background-color: #fff;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.tabs__itemContainerSelected {
  color: #fff;
  background-color: #15253C;
}

.orderBy__globalContainer {
  position: relative;
}

.orderBy__title {
  font-size: 18px;
  font-weight: 600;
  color: black;
  margin: 0;
  padding: 10px 15px;
  border-radius: 10px;
  border: solid 1px black;
  cursor: pointer;
}

.orderBy__listContainer {
  position: absolute;
  top: 25px;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  padding: 10px 5px;
  z-index: 9;
  background-color: #fff;
  border-radius: 15px;
  border: solid 1px black;
}

.orderBy__itemContainer {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
}

.orderBy__itemCheckbox {
  height: 20px;
  width: 20px;
  border-radius: 10px;
  border: solid 1px black;
}

.orderBy__itemCheckboxSelected {
  background-color: #15253C;
}

.orderBy__itemName {
  font-size: 16px;
  font-weight: 500;
  color: black;
  margin: 0;
}

